/target/classes/org/example/CheckAction.class
/target/classes/org/example/CheckNumber.class
/target/classes/org/example/CheckExpression.class
/.idea/compiler.xml
/target/classes/org/example/Convert/Converter.class
/.idea/encodings.xml
/.idea/jarRepositories.xml
/target/classes/org/example/Main.class
/.idea/misc.xml
/.idea/vcs.xml
/target/test-classes/TestListCalc.class
